extends layout

block content

	// TODO: Remove this!
	//h2 Exchange client's authorization grant for a client access token
	//a(id="auth_link", href="javascript:void(0);") Authenticate ScienceKit
	//p(id="token_response") no token received

	//h2 Request Resource (on behalf of owner that granted authorization)
	//a(id="account-list", href="javascript:void(0);") Request resource (using access token)
	//p(id="resource_response") no resource received

	a(href="javascript:void(0);", data-artifact-type="camera", onclick="capturePhotoToURI();") photo