!!!
html
	head
		title ScienceKit
		link(rel="stylesheet", href="./css/style.css")

		script(src="cordova-2.6.0.js")
		script(src="childbrowser.js")

		script(src="jquery.min.js")
		
		script(src="socket.io.min.js")

		script(src="js/sciencekit.js")
		
	body
		block content