!!!
html
	head
		title ScienceKit
		link(rel="stylesheet", href="./css/style.css")

		script(src="cordova-2.6.0.js")
		script(src="childbrowser.js")

		script(src="jquery.min.js")

		script(src="socket.io.min.js")

		script(src="js/easeljs-0.6.0.min.js")
		script(src="js/canvas2image.js")
		script(src="js/base64.js")

		script(src="js/moment.min.js")

		script(src="js/sciencekit.js")

		block head
		
	body
		block content