* {
   margin: 0px;
   padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a {
  color: #00b7ff;
}
p.tagline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
p.login-step {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}
a:link {
  text-decoration: none;
  color: #6478b8;
}
a:visited {
  text-decoration: none;
  color: #6478b8;
}
a:active {
  text-decoration: none;
  color: #6478b8;
}
a:hover {
  text-decoration: none;
  color: #6478b8;
}

narrative-templates {
  display: none;
}

#narrative-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;

  margin-right: 0px;
  padding-right: 0px;

  margin-top: 0px;
  padding-top: 0px;
}
#narrative-list > li {
  margin: 0px;
  padding: 0px;
}

#story-entry-queue {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;

  margin-right: 0px;
  padding-right: 0px;

  margin-top: 0px;
  padding-top: 0px;
}
#story-entry-queue > li {
  margin: 0px;
  padding: 0px;
}

.activity-widget {
  padding: 10px 8px 10px 8px;
  margin: 13px 90px 13px 13px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 20px;
  border-radius: 8px;
}

#narrative-list .activity-template-left {
  padding: 0px 150px 0px 0px;
  opacity: 1.0;
}

#narrative-list .activity-template-right {
  padding: 0px 0px 0px 150px;
  opacity: 0.4;
}

.entry-margin {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.entry-margin-icon {
  position:absolute;
  top: -12px;
  right: -10px;
  padding: 10px 10px 0px 10px;
}

.entry-body {
  display: table-cell;
  position: relative;
  z-index: 0;
  width: 100%;
  border-left: 0px solid #f16521;
}

.account {
  vertical-align: middle;
  padding-left: 22px;
  padding-top: 10px;
  font-size: 20px;
  color: #666666;
}

.text {
  padding: 10px;
}

.text-input-widget {
  /*padding: 10px 8px 10px 8px;*/
  margin: 4px 13px 4px 13px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 20px;
  border-radius: 8px;
}

.text-input-widget input[type="text"] {
  width: 100%;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 10px;
  margin: 5px;
  border: 0px solid #dddddd;
  border-radius: 8px;
}

.story-grid-options {
  padding: 10px 0px 10px 0px;
  margin: 4px 13px 4px 13px;
  border-width: 0px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 20px;
  border-radius: 8px;
}

.story-cover-left {
  padding: 10px 8px 10px 8px;
  margin: 0px 13px 13px 0px;
  border-width: 1px;
  height: 200px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
}

.story-cover-middle {
  padding: 10px 8px 10px 8px;
  margin: 0px 13px 13px 13px;
  border-width: 1px;
  height: 200px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
}

.story-cover-right {
  padding: 10px 8px 10px 8px;
  margin: 0px 0px 13px 13px;
  border-width: 1px;
  height: 200px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
}

.story-section-left {
  padding: 10px 8px 10px 8px;
  margin: 0px 13px 13px 0px;
  border-width: 1px;
  height: 70px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 25px;
  border-radius: 8px;
  text-align: center;
}

.story-section-middle {
  padding: 10px 8px 10px 8px;
  margin: 0px 13px 13px 13px;
  border-width: 1px;
  height: 70px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 25px;
  border-radius: 8px;
  text-align: center;
}

.story-section-right {
  padding: 10px 8px 10px 8px;
  margin: 0px 0px 13px 13px;
  border-width: 1px;
  height: 70px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 25px;
  border-radius: 8px;
  text-align: center;
}





.activity-template {
  display: none;

  padding: 0px 150px 0px 0px;

  /*-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}

.tool-template {
  /*display: none;*/
}

.tool-section {
  padding: 10px 0px 10px 0px;
  margin: 13px 70px 13px 0px;
  border-width: 0px;
  border-color: #dddddd;
  border-style: solid;
  font-size: 20px;
  border-radius: 8px;
  padding-left: 0px;
}





.view-port {
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  font-size: 20px;
}
.question-view-port {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  border-color: #6478b8;
}
.element {
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: #a578b7;
  border-style: solid;
  font-size: 20px;
  border-radius: 4px;
}
.cause-and-effect-view-port {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: #54bd81;
  border-style: solid;
  font-size: 20px;
}
.step-by-step-view-port {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: #f26066;
  border-style: solid;
  font-size: 20px;
}
.note-view-port {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  border-width: 1px;
  border-color: #f59364;
  border-style: solid;
  font-size: 20px;
}
.artifact {
  padding: 10px;
  margin: 0px;
  border-width: 1px;
  border-color: #ed1c24;
  border-style: solid;
  display: none;
}
#timeline {
  border-width: 0px 0px 0px 1px;
  border-color: #ed1c24;
  border-style: solid;
}
.action-palette {
  font-size: 30px;
}

#top, #bottom {
	position: fixed;
	left: 0; right: 0;
	height: 88px;
}
#top { top: 0px; background: url(../img/top.png) top center repeat-x; }
#bottom { bottom: 0px; background: url(../img/bottom.png) bottom center repeat-x; }

.float-action {
	position: fixed;
	bottom: 0;
	right: 0;
	width:100%;
	height:150px;
	background: none;
	text-align:center;
	font-size:40px;
	color:white;
	z-index: 500;
}

.float-action-body {
  background: #ffffff;
  margin: 0 auto;
}

.float-action-edge {
  background: url(../img/bottom.png) bottom center repeat-x;
  position: relative;
  left: 0; right: 0;
  height: 88px;
  z-index: 600;
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/HelveticaNeue-UltraLight.ttf);
  font-weight:100;
}

.toolkit-option-container, .storykit-option-container {
  background-size: 50px 50px;
  background-color: rgba(0, 0, 0, 0.13);
  background-repeat:no-repeat;
  background-position:10px 4px;
  height: 50px;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 8px;
  font-size: 30px;
  vertical-align: middle;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 5px;
}

.hide-option-hint > .toolkit-option-container,
.hide-option-hint > .storykit-option-container {
  background-color: transparent;
}

.toolkit-previous-container {
  background-size: 50px 50px;
  background-color: rgba(0, 0, 0, 0.13);
  background-repeat:no-repeat;
  background-position:10px 4px;
  height: 50px;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 8px;
  font-size: 30px;
  vertical-align: middle;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 5px;
}

/*.hide-option-hint .toolkit-option-text {
  display: none;
}*/

/* "Tool" widget style */

.tool-widget {
  position: fixed;

  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #000000;
  z-index: 2000;
}

.tool-table {
	display: table;

	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.tool-table-row {
    display: table-row;
}

.tool-table-cell {
	display: table-cell;
}

/* "Page" widget style */

.float-page {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	color: #000000;
	z-index: 1000;
}

.float-page-table {
	display: table;

	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.float-page-row {
	display: table-row;
}

.float-page-cell {
	display: table-cell;
}

.float-page-p {
	display: table-cell;

	vertical-align: middle;
	text-align: center;

	font-family: HelvNeue;
	font-weight: 100;

	font-size: 50pt;
}



/*.demo ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.demo li { margin: 5px; padding: 5px; width: 150px; }*/