!!!
html
	head
		title ScienceKit
		link(rel="stylesheet", href="./css/style.css")

		script(src="cordova.js")
		script(src="cordova_plugins.js")

		script(src="jquery.min.js")
		// script(src="jquery-ui.min.js")
		// script(src="jquery.ui.touch-punch.js")

		script(src="socket.io.min.js")

		script(src="js/easeljs-0.6.0.min.js")
		script(src="js/canvas2image.js")
		script(src="js/base64.js")

		script(src="js/date.js")

		script(src="js/sciencekit.js")

		block head
		
	body
		block content