ul(id="narrative-list-template")
	li(id="text-activity-template", class="activity-template", data-activity-type="text", data-id="", data-timeline="")
		div(style="display: table; width: 100%;")

			div(class="author", style="display: table-row; position: relative;")
				div(class="entry-margin")
					div(class="entry-margin-icon")
						img(class="entry-margin-icon-img", src="./img/thought.png", width="50", height="50")
				div(class="account entry-body")
					| &nbsp;

				div(class="bump-section", style="display: table; position: absolute; right: 100px;")
					div(style="display: table-row;")
						div(class="bump-count", style="display: table-cell; vertical-align: middle; text-align: center; font-size: 20px; padding-right: 6px;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							img(class="bump", src="./img/star-yellow.png", style="width: 35px;")

			div(style="display: table-row;")
				div(class="entry-margin")
					img(src="./img/blank.png", width="50", height="0", style="padding: 10px;")

				div(class="entry-body")

					div(class="activity-widget")
						div(class="element-table question-section", style="display: table; width: 100%;")

							// Core activity
							div(class="element question", style="display: table-row;")
								div(class="text", style="display: table-cell; min-width: 100%; vertical-align: middle;")
									| -

							// Divider
							div(class="question", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

						div(class="element-table observation-section", style="display: table; width: 100%;")

							//
							// Observation
							//

							// Effect
							div(class="element observation", style="display: table-row;")
								div(class="text effect", style="display: table-cell; min-width: 100%; vertical-align: middle;")
									| -

							// Divider
							div(class="observation", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 0px; height: 1px; border: none; background-color: #dddddd;')

							// Cause
							div(class="element observation", style="display: table-row;")
								div(class="text cause", style="display: table-cell; min-width: 100%; vertical-align: middle;")
									| -

							// Divider
							div(class="observation", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

						div(class="element-table sequence-section", style="display: table; width: 100%;")

							//
							// Sequence
							//

							// Step
							div(class="element sequence sequence-step-template", style="display: table-row;")
								div(style="display: table-cell; min-width: 100%; vertical-align: middle; min-height: 100px;")
									div(class="step", style="padding: 10px; margin: 0px;")
										| -

							// Divider
							div(class="sequence sequence-step-divider-template", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

						div(class="element-table tag-section", style="display: table; width: 100%;")

							//
							// Tags
							//
							div(style="display: table-row;")
								div(class="tags", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/tag.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

						div(class="element-table note-section", style="display: table; width: 100%;")

							// Divider
							div(class="node-section note-divider", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; margin-top: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Reflection
							//
							div(style="display: table-row;")
								div(class="note", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/thought.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

	li(id="photo-template", class="activity-template", data-activity-type="photo", data-id="", data-timeline="")
		div(style="display: table; width: 100%;")

			div(class="author", style="display: table-row;")
				div(class="entry-margin")
					div(class="entry-margin-icon")
						img(src="./img/camera.png", width="50", height="50")
				div(class="account entry-body")
					| &nbsp;

				div(class="bump-section", style="display: table; position: absolute; right: 100px;")
					div(style="display: table-row;")
						div(class="bump-count", style="display: table-cell; vertical-align: middle; text-align: center; font-size: 20px; padding-right: 6px;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							img(class="bump", src="./img/star-yellow.png", style="width: 35px;")

			div(style="display: table-row;")
				div(class="entry-margin", style="display: table-cell; text-align: center; vertical-align: middle;")
					img(src="./img/blank.png", width="50", height="50", style="padding: 10px;")

				div(class="entry-body")

					div(class="activity-widget")
						div(class="element-table", style="display: table; width: 100%;")


							// Core activity
							div(class="element", style="display: table-row; text-align: center;")
								img(class="image", src="./img/camera.png", width="570", height="570")

							// Divider
							div(class="question-section observation-section sequence-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Question
							//
							div(class="question-section", style="display: table-row;")
								div(class="question", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/question.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| question

							//
							// Observation
							//
							div(class="observation-section", style="display: table-row;")
								div(class="observation-effect", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/observation.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| observation

							// Divider
							div(class="observation-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							div(class="observation-section", style="display: table-row;")
								div(class="observation-cause", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| cause

							//
							// Sequence
							//
							div(class="sequence-section-template", style="display: table-row;")
								div(class="step", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/sequence.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| step 1

							// Divider
							div(class="sequence-section-divider-template", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							// Divider
							div(style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							// Tags
							div(style="display: table-row;")
								div(class="tags", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/tag.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

						div(class="element-table note-section", style="display: table; width: 100%;")

							// Divider
							div(class="node-section note-divider", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; margin-top: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Reflection
							//
							div(style="display: table-row;")
								div(class="note", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/thought.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

	li(id="video-activity-template", class="activity-template", data-activity-type="video", data-id="", data-timeline="")
		div(style="display: table; width: 100%;")

			div(class="author", style="display: table-row;")
				div(class="entry-margin")
					div(class="entry-margin-icon")
						img(src="./img/film.png", width="50", height="50")
				div(class="account entry-body")
					| &nbsp;

				div(class="bump-section", style="display: table; position: absolute; right: 100px;")
					div(style="display: table-row;")
						div(class="bump-count", style="display: table-cell; vertical-align: middle; text-align: center; font-size: 20px; padding-right: 6px;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							img(class="bump", src="./img/star-yellow.png", style="width: 35px;")

			div(style="display: table-row;")
				div(class="entry-margin", style="display: table-cell; text-align: center; vertical-align: middle;")
					img(src="./img/blank.png", width="50", height="50", style="padding: 10px;")

				div(class="entry-body")

					div(class="activity-widget")
						div(class="element-table", style="display: table; width: 100%;")

							// Core activity
							div(class="element", style="display: table-row; text-align: center;")
								//video(class="video", width="570", height="427", controls)
								video(class="video", width="570", height="427", controls)

								div(class="thumbnailContainer", style="background: center center 570px 427px no-repeat no-repeat url(./img/camera.png);")
									img(class="thumbnailOverlay", src="./img/play-button.png", style="vertical-align: middle; padding: 0px; margin: 0px;")

							// Divider
							div(class="question-section observation-section sequence-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Question
							//
							div(class="question-section", style="display: table-row;")
								div(class="question", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/question.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| question

							//
							// Observation
							//
							div(class="observation-section", style="display: table-row;")
								div(class="observation-effect", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/observation.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| observation

							// Divider
							div(class="observation-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							div(class="observation-section", style="display: table-row;")
								div(class="observation-cause", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| cause

							//
							// Sequence
							//
							div(class="sequence-section-template", style="display: table-row;")
								div(class="step", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/sequence.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| step 1

							// Divider
							div(class="sequence-section-divider-template", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							// Divider
							div(style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							// Tags
							div(style="display: table-row;")
								div(class="tags", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/tag.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

						div(class="element-table note-section", style="display: table; width: 100%;")

							// Divider
							div(class="node-section note-divider", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; margin-top: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Reflection
							//
							div(style="display: table-row;")
								div(class="note", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/thought.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

	li(id="sketch-activity-template", class="activity-template", data-activity-type="sketch", data-id="", data-timeline="")
		div(style="display: table; width: 100%;")

			div(class="author", style="display: table-row;")
				div(class="entry-margin")
					div(class="entry-margin-icon")
						img(src="./img/crayons.png", width="50", height="50")
				div(class="account entry-body")
					| &nbsp;

				div(class="bump-section", style="display: table; position: absolute; right: 100px;")
					div(style="display: table-row;")
						div(class="bump-count", style="display: table-cell; vertical-align: middle; text-align: center; font-size: 20px; padding-right: 6px;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							| &nbsp;
						div(style="display: table-cell; vertical-align: middle; text-align: center;")
							img(class="bump", src="./img/star-yellow.png", style="width: 35px;")

			div(style="display: table-row;")
				div(class="entry-margin", style="display: table-cell; text-align: center; vertical-align: middle;")
					img(src="./img/blank.png", width="50", height="50", style="padding: 10px;")

				div(class="entry-body")

					div(class="activity-widget")
						div(class="element-table", style="display: table; width: 100%;")

							// Core activity
							div(class="element", style="display: table-row; text-align: center;")
								img(class="image", src="./img/crayons.png", width="570", height="427")

							// Divider
							div(class="question-section observation-section sequence-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Question
							//
							div(class="question-section", style="display: table-row;")
								div(class="question", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/question.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| question

							//
							// Observation
							//
							div(class="observation-section", style="display: table-row;")
								div(class="observation-effect", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/observation.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| observation

							// Divider
							div(class="observation-section", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							div(class="observation-section", style="display: table-row;")
								div(class="observation-cause", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| cause

							//
							// Sequence
							//
							div(class="sequence-section-template", style="display: table-row;")
								div(class="step", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 60px; background-image: url(./img/sequence.png); background-size: 50px 50px; background-repeat: no-repeat; height: 50px;")
									| step 1

							// Divider
							div(class="sequence-section-divider-template", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-left: 50px; height: 1px; border: none; background-color: #dddddd;')

							// Divider
							div(style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; height: 1px; border: none; background-color: #dddddd;')

							// Tags
							div(style="display: table-row;")
								div(class="tags", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/tag.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

						div(class="element-table note-section", style="display: table; width: 100%;")

							// Divider
							div(class="node-section note-divider", style="display: table-row;")
								div(class="divider", style="display: table-cell;")
									hr(style='margin-bottom: 8px; margin-top: 8px; height: 1px; border: none; background-color: #dddddd;')

							//
							// Reflection
							//
							div(style="display: table-row;")
								div(class="note", contenteditable="true", style="display: table-cell; min-width: 100%; vertical-align: middle; font-size: 20px; color: #666666; padding-left: 40px; background-image: url(./img/thought.png); background-size: 30px 30px; background-repeat: no-repeat; height: 30px;")
									//img(src="./img/topic.png", width="30", height="30", style="padding: 0px 8px 0px 0px; margin: 0px; vertical-align: middle;")
									| &nbsp;

	li(id="reflection-template", class="activity-template", data-activity-type="photo", data-id="", data-timeline="")

		//
		// Text
		//

		div(id="story-reflection-tool", class="story-reflection-tool toolkit-tool", style="display: table; width: 100%;")

			div(style="display: table-row;")
				div(style="display: table-cell; text-align: center; vertical-align: middle;")
					img(src="./img/single-caption.png", width="50", height="50", style="padding: 10px;")

				div(style="display: table-cell; position: relative; z-index: 0; width: 100%; border-left: 0px solid #f16521;")

					div(class="tool-section")
						div(class="text-input-widget")
							div(class="element-table", style="display: table; width: 100%;")

								div(class="element", style="display: table-row;")
									div(class="text", style="display: table-cell; min-width: 100%; vertical-align: middle;")
										input(type='text', id='reflection-text')

									div(class="options", style="width: 75px; display: table-cell; text-align: right; vertical-align: middle;")
										img(id="hostAddressSave", src="./img/check.png", style="display: none;")
										img(id="hostAddressInvalid", src="./img/cross.png", style="display: none;")
